{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block body %}
    <header class="container-fluid bg-dark home" style="height:100vh;overflow:hidden;">
        <div class="row" style="height:50vh;">
            <div class="col-6 col-md-3 align-self-center pt-5 text-center mx-auto">
                <img src="/media/icons8-pour-96.png"/>
            </div>
        </div>
        <div class="row" style="height=50vh;">
            <div class="col-6 col-md-3 align-self-center pt-5 text-center mx-auto">
                <img src="/media/icons8-water-48.png"/>
            </div>
        </div>
    </header>
{% endblock %}