{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block body %}
    <header class="container-fluid bg-dark home" style="height:100vh;overflow:hidden;">
        <div class="d-flex" style="height:100vh;">
            <div class="col-6 col-md-3 col-xl-1 align-self-center pt-5 text-center mx-auto">
                <img class="d-block w-100" src="/media/icons8-pour-96.png"/>
                <img class="d-block w-50" src="/media/icons8-water-48.png"/>
                <img class="d-block w-50" src="/media/icons8-water-48.png"/>
                <img class="d-block w-50" src="/media/icons8-water-48.png"/>
            </div>
        </div>
    </header>
{% endblock %}