{% extends "base.html" %}
{% block title %}
    User Page
{% endblock %}
{% block body %}
    <header class="container-fluid userpage m-0 px-0 py-5 bg-dark text-white" style="overflow:hidden;">
        <div class="row">
            <div class="col-md-6 mx-auto mt-4">
                <h3 class="text-center text-success">{{today}}</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row" style="height: 100px;">
                        <div class="col-6 align-self-center">
                            <input type="checkbox" name="drinking" class="form-control">
                        </div>
                        <div class="col-6 align-self-center">
                            <button type="submit" class="btn btn-success d-block w-75 mx-auto"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto text-center mt-1 mt-lg-5">
                <h4 class="text-center text-success px-2">How many glasses of water did you drink?</h4>
                <h5 class="text-danger">Last five days</h5>
                <div class="d-flex justify-content-center">
                    <!-- for three days before yesterday -->
                    <div class="col-2">
                        {{three_days_before_yesterday}}
                        <hr/>
                        {% if three_days_before_yesterday_see %}
                            <div class="row">
                                {% for water in three_days_before_yesterday_see %}
                                <div class="col-12">
                                    {{water.glasses|safe}}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- for two days before yesterday -->
                    <div class="col-2">
                        {{two_days_before_yesterday}}
                        <hr/>
                        {% if two_days_before_yesterday_see %}
                            <div class="row">
                                {% for water in two_days_before_yesterday_see %}
                                <div class="col-12">
                                    {{water.glasses|safe}}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- for before yesterday -->
                    <div class="col-2">
                        {{before_yesterday}}
                        <hr/>
                        {% if before_yesterday_see %}
                            <div class="row">
                                {% for water in before_yesterday_see %}
                                <div class="col-12">
                                    {{water.glasses|safe}}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- for yesterday -->
                    <div class="col-2">
                        {{yesterday}}
                        <hr/>
                        {% if yesterday_see %}
                            <div class="row">
                                {% for water in yesterday_see %}
                                <div class="col-12">
                                    {{water.glasses|safe}}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- for today -->
                    <div class="col-2">
                        {{today}}
                        <hr/>
                        {% if today_see %}
                            <div class="row">
                                {% for water in today_see %}
                                <div class="col-12">
                                    {{water.glasses|safe}}
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-6 mx-auto">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </header>

    <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['10', '9', '8', '7', '6', '5', '4', '3', 'yesterday', 'today'],
                    datasets: [{
                        label: 'Last ten days',
                        data: [{{count10}}, {{count9}}, {{count8}}, {{count7}}, {{count6}}, {{count5}}, {{count4}}, {{count3}}, {{count2}}, {{count1}}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    animations: {
                        tension: {
                            duration: 1000,
                            easing: 'linear',
                            from: 1,
                            to: 0,
                            loop: true
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Last 10 days'
                        }
                    }
                }
            });
     </script>
{% endblock %}